/node_modules
*.log
/doc-assets
/tmp
/spec
/src
/.gitignore
/.npmignore
/dist/spec
/tsconfig.json
/declarations.d.ts
*.tgz
test
typescript-ast-query-editor
formatCodeSettings.json
dist/*.*
.vscode
src/bundle.html
dist/src/**/*Test*