
.header {

/* flex: 2 1 auto;
align-self: auto;
width: 100%;*/
min-width: 100vh; 
position: absolute; 


}
r
.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.header li {
  float: left;
} 

.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.header li a:hover {
  background-color: #111;
}
