.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  }

.flex-item:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  max-width: 40%;
  }

.flex-item:nth-child(2) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  height: 800px;
  }